---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import ProyectBarberiaByL from "../components/ProyectBarberiaByL.astro";
---

<section class="overflow-y-hidden overflow-x-auto">
  <Layout title="Inicio" showStarfield={true} />
  <ProyectBarberiaByL />
</section>


