---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/about.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import MyPortafolio from "../components/MyPortafolio.astro";
---

<section class="overflow-y-hidden overflow-x-auto">
  <Layout title="Inicio" showStarfield={true} />
  <Hero />
  <About />
  <MyPortafolio />
  <Footer />
</section>

