---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import ProyectPortfolio from "../components/ProyectPortfolio.astro";
---

<section class="overflow-y-hidden overflow-x-auto">
  <Layout title="Inicio" showStarfield={true} />
  <ProyectPortfolio />
</section>


